body {
    margin: 0;
    padding: 0;
}

.logo {
    height: 60px;
    width: 60px;
}

.social-icon img {
    width: 20px;
    height: 22px;
}

.Content-div img {
    height: 500px;
    width: 500px;
}