body {
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

.logo {
    height: 60px;
    width: 60px;
}

.hotel-info {
    margin: 2% 4% 0 4%;
}

.description {
    margin: 1% 4% 2% 4%;
}

.Header-div {
    background-color: rosybrown;
}

.Footer-div {
    background-color: rosybrown;
}

.social-icon img {
    width: 20px;
    height: 22px;
}

.Content-div img {
    height: 500px;
    width: 500px;
}