body {
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}


/*----------------- content div----------------*/

.search-bar {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-repeat: repeat;
    height: 380px;
}

.search-bar input {
    text-align: center;
}

.image img {
    margin: auto;
}

.image {
    margin-left: 15%;
    margin-right: 15%
}

.city-card .image img {
    height: 150px;
    width: 150px;
    float: left;
    padding: 5px;
    padding: 4% 4% 4% 4%;
    border-radius: 25%;
}

.city-card a {
    text-align: center;
    text-decoration: none;
}