body {
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

.logo {
    height: 60px;
    width: 60px;
    margin: 2% 2% 2% 2%;
}

.Header-div {
    background-color: rosybrown;
    width: 100%;
}

.hotel-img {
    background-color: rgb(132, 136, 139);
    width: 40%;
}

.Footer-div {
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.social-icon img {
    width: 20px;
    height: 22px;
}

.Content-div img {
    height: 250px;
    width: 250px;
}